{% extends "base.html" %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="static/img/miamiam_logo.png" alt="Miamiam logo" class="center">
          <p> <h3>Cooking with what you have made easy </h3> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <br>
          <br>
          <br>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-2"> </div>
          <div class="col-sm-3">
            <img src="static/img/Alice_Allafort.jpg" alt="Alice Allafort" class="center" width = "100%">
          </div>

          <div class="col-5 align-self-center">
            <h3>Alice Allafort</h3>
            <br>
            <p><a href="mailto:alice.allafort@mg.thedataincubator.com"> alice.allafort@mg.thedataincubator.com </a> </p>
            <p><a href="https://www.linkedin.com/in/alice-allafort/">www.linkedin.com/in/alice-allafort/</a> </p>
         </div>
          <div class="col-2"> </div>
        </div>
      </div>
    </div>

<br>
<br>

<div class="container">

</div>


{% endblock %}