{% extends "base.html" %}

{% block content %}


    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="static/img/miamiam_logo.png" alt="Miamiam logo" class="center" >
          <p> <h2>Cooking with what you have made easy </h2>
          <h4> <a href="https://miamiam-project.herokuapp.com/" > miamiam-project.herokuapp.com </a></h4>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <br>
          <br>
          <br>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-2"> </div>
          <div class="col-sm-3">
            <img src="static/img/Alice_Allafort.jpg" alt="Alice Allafort" class="center" width = "80%">
          </div>

          <div class="col-5 align-self-center">
            <h3>Alice Allafort </h3>
            Physics Ph.D. Stanford
            <br>
            <br>
            <br>
            <p><a href="mailto:allafort.alice@gmail.com"> allafort.alice@gmail.com </a> </p>
            <p><a href="https://www.linkedin.com/in/alice-allafort/">www.linkedin.com/in/alice-allafort/</a> </p>
         </div>
          <div class="col-2"> </div>
        </div>
      </div>
    </div>

<br>
<br>

<div class="container">

</div>


{% endblock %}