{% extends "base.html" %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="static/img/miamiam_logo.png" alt="Miamiam logo" class="center">
        </div>
      </div>
    <div class="col-lg-12 text-center gap-3">
            <a href="/"> <img src="{{ background }}" alt="background" style="width:80%" class="center">  </a>

<!--        <div style="vertical-align:bottom " >-->
<!--             <div class="text-center" >-->
<!--                <p><a href="/index"> Next </a></p>-->
<!--             </div>-->
<!--        </div>-->
    </div>   
</div>   

{% endblock %}